<div class="loginForm">
    <div class="loginForm--titleBox">
        <h1 class="loginForm--titleBox__title">Welcome to TechLinks</h1>
    </div>

    <div class="loginForm--inputForm">
        <div class="loginForm--inputForm--inputBox">
            <p class="loginForm--inputForm--inputBox--tag">Gmail</p>
            <input class="loginForm--inputForm--inputBox--input loginForm--inputForm--inputBox--input__gmail" type="text">
        </div>

        <div class="loginForm--inputForm--inputBox">
            <p class="loginForm--inputForm--inputBox--tag">Password</p>
            <input class="loginForm--inputForm--inputBox--input loginForm--inputForm--inputBox--input__password" type="psasword">
        </div>
    </div>

    <div class="loginForm--btnBox">
        <button class="loginForm--btnBox--btnLogin">Login</button>
    </div>

    <div class="loginForm--redirectBox">
        <a href="/register">Create an account?</a>
    </div>
</div>