<div class="registerForm">
    <div class="registerForm--titleBox">
        <h1 class="registerForm--titleBox__title noSelect">Welcome to TechLinks</h1>
    </div>

    <div class="registerForm--inputForm">
        <div class="registerForm--inputForm--inputBox">
            <p class="registerForm--inputForm--inputBox--tag noSelect">Gmail</p>
            <input class="registerForm--inputForm--inputBox--input registerForm--inputForm--inputBox--input__gmail" type="email">
        </div>

        <div class="registerForm--inputForm--inputBox">
            <p class="registerForm--inputForm--inputBox--tag noSelect">Password</p>
            <input class="registerForm--inputForm--inputBox--input registerForm--inputForm--inputBox--input__password" type="password">
        </div>

        <div class="registerForm--inputForm--inputBox">
            <p class="registerForm--inputForm--inputBox--tag noSelect">Confirm password</p>
            <input class="registerForm--inputForm--inputBox--input registerForm--inputForm--inputBox--input__confirmPassword" type="password">
        </div>
    </div>

    <div class="registerForm--btnBox">
        <button class="registerForm--btnBox--btnRegister">NEXT</button>
    </div>

    <div class="registerForm--redirectBox">
        <a href="/login">Already have an account?</a>
    </div>

    <button class="registerForm--requireForInput--btn"><i class="fas fa-question"></i></button>

    <div class="registerForm--tutorialsBox">
        <div class="registerForm--tutorialsBox--requireBox">
            <h2 class="registerForm--tutorialsBox--requireBox--title">Password</h2>
            <ul class="registerForm--tutorialsBox--requireBox--listRequire">
                <li>Length from 8 to 20 characters</li>
                <li>Contains capital letters and numbers</li>
                <li>Do not use whitespace characters</li>
            </ul>
        </div>
    </div>
</div>

<script type="module" src="/register.js"></script>