<div class="registerForm">
    <div class="registerForm--titleBox">
        <h1 class="registerForm--titleBox__title noSelect">Welcome to TechLinks</h1>
    </div>

    <div class="registerForm--inputForm">
        <div class="registerForm--inputForm--inputBox">
            <p class="registerForm--inputForm--inputBox--tag noSelect">Gmail</p>
            <input class="registerForm--inputForm--inputBox--input registerForm--inputForm--inputBox--input__gmail" type="text">
        </div>

        <div class="registerForm--inputForm--inputBox">
            <p class="registerForm--inputForm--inputBox--tag noSelect">Password</p>
            <input class="registerForm--inputForm--inputBox--input registerForm--inputForm--inputBox--input__password" type="text">
        </div>

        <div class="registerForm--inputForm--inputBox">
            <p class="registerForm--inputForm--inputBox--tag noSelect">Confirm password</p>
            <input class="registerForm--inputForm--inputBox--input registerForm--inputForm--inputBox--input__confirmPassword" type="password">
        </div>
    </div>

    <div class="registerForm--btnBox">
        <button class="registerForm--btnBox--btnRegister">Register</button>
    </div>

    <div class="registerForm--redirectBox">
        <a href="/login">Already have an account?</a>
    </div>
</div>