<link rel="stylesheet" href="/css/verifyCode.css">

<div class="verifyCodeForm">
    <h1 class="verifyCodeForm--title">VERIFY CODE</h1>
    <div class="verifyCodeForm--verifyCodeInputBox">
        <input class="verifyCodeForm--verifyCodeBox--input" type="password" placeholder="Enter the confirmation code..." autofocus>
        <button class="verifyCodeForm--verifyCodeInputBox--resendBtn">Resend</button>
    </div>

    <div class="verifyCodeForm--btnBox">
        <button class="verifyCodeForm--btnBox--verifyBtn">Verify</button>
    </div>
</div>

<script type="module" src="/verifyCode.js"></script>