.mainPageContainer {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 20px 100px;
}

.mainPageContainer--welcomeBox {
    height: 300px;
    width: 100%;
    background: linear-gradient(to right, #2663eb, #9333ea);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    gap: 30px;

    .mainPageContainer--welcomeBox__welcome {
        font-size: 48px;
        color: white;
    }

    .mainPageContainer--welcomeBox__slogan {
        font-size: 20px;
        color: white;
    }

    .mainPageContainer--welcomeBox__button {
        text-decoration: none;
        font-size: 16px;
        padding: 15px 40px;
        border: none;
        border-radius: 5px;
        background-color: white;
    }
}

.mainPageContainer--servicesBox {
    height: fit-content;
    width: 100%;
    background-color: transparent;
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.mainPageContainer--servicesBox--element {
    flex: 1;
    max-width: 50%;
    background-color: #1f2937;
    border: solid 1px rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px 40px;
}

.mainPageContainer--servicesBox--URLForm--element {
    height: fit-content;
    width: 100%;
}

.mainPageContainer--servicesBox--URLForm {
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 40px;
}

.mainPageContainer--servicesBox--URLForm--titleBox__title {
    color: white;
    font-size: 28px;
    font-weight: lighter;
}

.mainPageContainer--servicesBox--URLForm--titleBox__amountURL {
    color: white;
    font-size: 16px;
}

.mainPageContainer--servicesBox--URLForm--inputForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainPageContainer--servicesBox--URLForm--inputForm--inputBox {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mainPageContainer--servicesBox--URLForm--inputForm--inputBox--tagBox {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainPageContainer--servicesBox--URLForm--inputForm--inputBox--tag {
    color: rgb(177, 177, 177);
    font-size: 16px;

}

.mainPageContainer--servicesBox--URLForm--inputForm--inputBox--tag--characterCount {
    color: rgb(177, 177, 177);
    font-size: 16px;
}

.mainPageContainer--servicesBox--URLForm--inputForm--inputBox--input {
    height: 40px;
    width: 100%;
    color: white;
    background-color: #374151;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 0 10px;
}

.mainPageContainer--servicesBox--URLForm--btnBox--addBtn {
    height: 40px;
    width: 100%;
    background-color: white;
}

/* LIST URL */
.mainPageContainer--servicesBox--URLListBox {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainPageContainer--servicesBox--URLListBox--titleBox {
    height: fit-content;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.mainPageContainer--servicesBox--URLListBox--titleBox__title {
    color: white;
    font-size: 28px;
    font-weight: lighter;
}

.mainPageContainer--servicesBox--URLListBox--titleBox__ammountURL {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}

.mainPageContainer--servicesBox--URLListBox--listURL {
    height: fit-content;
    width: 100%;
    padding: 0 10px;
}

.mainPageContainer--servicesBox--URLListBox--listURL--card {
    position: relative;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 10px;
}

.mainPageContainer--servicesBox--URLListBox--listURL--card:hover .mainPageContainer--servicesBox--URLListBox--listURL--card--descriptionBox {
    display: block;
}

.mainPageContainer--servicesBox--URLListBox--listURL--card:hover {
    background-color: #374151;
    border: none !important;
}

.mainPageContainer--servicesBox--URLListBox--listURL--card:nth-last-child(1) {
    border: none !important;
}

.mainPageContainer--servicesBox--URLListBox--listURL--card--titleBox {
    width: 20%;
    font-size: 18px;
    color: white;
}

.mainPageContainer--servicesBox--URLListBox--listURL--card--urlBox {
    width: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    a {
        text-decoration: none;
        color: #2663eb;
        font-size: 14px;
    }
}

.mainPageContainer--servicesBox--URLListBox--listURL--card--actionBox {
    width: 20%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}

.mainPageContainer--servicesBox--URLListBox--listURL--card--actionBox--action {
    height: fit-content;
    width: fit-content;
    font-size: 16px;
    background-color: transparent;
    border: none;
}

.mainPageContainer--servicesBox--URLListBox--listURL--card--actionBox--actionEdit {
    color: white;
}

.mainPageContainer--servicesBox--URLListBox--listURL--card--actionBox--actionRemove {
    color: red;
}

.mainPageContainer--servicesBox--URLListBox--listURL--card--descriptionBox {
    position: absolute;
    bottom: 100%;
    left: -10px;
    transform: translateX(-100%);
    height: fit-content;
    display: none;
    width: 250px;
    color: white;
    word-wrap: break-word;
    background-color: #374151;
    padding: 10px;
    border: solid 1px white;
    border-radius: 10px 10px 0 10px;
}

/* Span */
.span {
    height: 20px;
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
}


@media (max-width: 768px) {
    .mainPageContainer {
        padding: 15px 20px;
    }

    .mainPageContainer--welcomeBox {
        height: 200px;
        padding: 15px 20px;
        gap: 10px;

        .mainPageContainer--welcomeBox__welcome {
            font-size: 22px;
        }

        .mainPageContainer--welcomeBox__slogan {
            width: 100%;
            text-align: center;
            font-size: 12px;
        }

        .mainPageContainer--welcomeBox__button {
            font-size: 14px;
            padding: 10px 20px;
            margin-top: 10px;
        }
    }

    .mainPageContainer--servicesBox {
        flex-direction: column;
    }

    .mainPageContainer--servicesBox--element {
        max-width: 100%;
        padding: 40px 20px;
    }

    .mainPageContainer--servicesBox--URLForm--titleBox__title {
        font-size: 26px;
    }

    .mainPageContainer--servicesBox--URLForm--inputForm--inputBox--tag {
        font-size: 14px;
    }

    .mainPageContainer--servicesBox--URLForm--inputForm--inputBox--tag--characterCount {
        font-size: 12px;
    }

    .mainPageContainer--servicesBox--URLForm--inputForm--inputBox--input {
        height: 30px;
    }

    .mainPageContainer--servicesBox--URLForm--btnBox--addBtn {
        height: 30px;
    }

    .mainPageContainer--servicesBox--URLListBox--listURL {
        padding: 0 0px;
    }

    .mainPageContainer--servicesBox--URLListBox--listURL--card {
        height: fit-content;
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        border-radius: 5px;
        padding: 20px;
    }

    .mainPageContainer--servicesBox--URLListBox--listURL--card--descriptionBox {
        position: absolute;
        bottom: 100%;
        left: 0;
        height: fit-content;
        transform: translateX(0);
        display: none;
        width: 100%;
        color: white;
        word-wrap: break-word;
        background-color: #374151;
        padding: 10px;
        border: solid 1px white;
        border-radius: 5px;
    }

    .mainPageContainer--servicesBox--URLListBox--listURL--card:hover .mainPageContainer--servicesBox--URLListBox--listURL--card--descriptionBox {
        display: block;
    }

    .mainPageContainer--servicesBox--URLListBox--listURL--card:active .mainPageContainer--servicesBox--URLListBox--listURL--card--descriptionBox {
        display: block;
    }

    .mainPageContainer--servicesBox--URLListBox--listURL--card--titleBox {
        width: 100%;
        font-size: 18px;
    }

    .mainPageContainer--servicesBox--URLListBox--listURL--card--urlBox {
        width: 100%;
        a {
            font-size: 14px;
        }
    }

    .mainPageContainer--servicesBox--URLListBox--listURL--card--actionBox {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 0;
        border-radius: 5px;
        margin-top: 10px;
    }

    .mainPageContainer--servicesBox--URLListBox--listURL--card--actionBox--actionRemove {
        height: 30px;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eeeeee;
        padding: 10px;
        border-radius: 50%;
    }
}