.registerForm {
    height: fit-content;
    width: fit-content;
    background-color: #1f2937;
    padding: 40px 20px 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
}

.registerForm--titleBox {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .registerForm--titleBox__title {
        color: white;
        font-size: 30px;
        font-weight: lighter;
    }
}

.registerForm--inputForm {
    height: fit-content;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0 20px;

    .registerForm--inputForm--inputBox {
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .registerForm--inputForm--inputBox--tag {
        color: rgb(177, 177, 177);
        font-size: 16px;
    }

    .registerForm--inputForm--inputBox--input {
        height: 40px;
        width: 450px;
        color: white;
        background-color: #374151;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        padding: 0 10px;
    }
}

.registerForm--btnBox {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    .registerForm--btnBox--btnRegister {
        height: 50px;
        width: 100%;
        font-size: 18px;
        background-color: white;
        border-radius: 5px;
    }

    .registerForm--btnBox--btnRegister:hover {
        filter: brightness(0.95);
    }
}

.registerForm--redirectBox {
    height: fit-content;
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: rgb(1, 194, 194);
        font-style: italic;
    }
}