<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/LR.css">
    <link rel="stylesheet" href="/css/login.css">
    <title>TechLinks</title>
</head>
<body>
    <div class="LRcontainer">
        <div class="navbar">
            <div class="navbar--logbox">
                <img class="navbar--logbox__img" src="img/logo.png" alt="Logo trang web">
                <h1 class="navbar--logbox__name">TechLinks</h1>
            </div>
        </div>

        <div class="LRcontainer--mainPage">
            {{{body}}}
        </div>
    </div>
</body>
</html>